.header {
    background-color: #ccc;
    outline: 1px solid #fea100;
    padding: 10px;
}
.logo-div {
    text-align: center;
    padding:1%;
}
.menu-a {
    color: #2c465a;
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 14px;
    display: inline-block;
    width: 100%;
}
.menu-a:hover {
    color: #2c465a;
    text-decoration-line: underline;
}
.menu-active {
    color: #fea100;
}
.form-inline{
    padding-left: 0;
}
.search-input,
.search-input:focus{
    background-color: #eee;
    border-color: #2c465a;
}
.search-btn,
.search-btn:hover{
    color: #2c465a;
    background-color: #fea100;
    border-color: #2c465a;
}
.search-btn:hover{
    color: #fff;
}
.top-header-menu-right,
.bottom-header-menu-right{
    padding: 10px;
}
@media screen and (max-width: 768px) {
    .top-header-menu-right,
    .bottom-header-menu-right{
        padding-left: 32px;
    }
}
.lk-btn{
    width: 150px;
    overflow: hidden;
}
.lk-btn:hover{
    background-color: #fea100;
    color: #000;
}
.lk-btn img{
    width: 20px;
    height: 20px;
}
.cart-btn{
    width: 150px;
    color: #fff;
    background-color: #2c465a;
    border-color: #28a745;
}
.cart-btn:hover{
    color: #fea100;
    border-color: #fea100;
}
.cart-btn img{
    margin-right: 4px;
    filter: invert(100);
    width: 20px;
    height: 20px;
}
.badge-success{
    margin-left: 10px;
}
.main{
    margin-top: 26px;
    padding: 0;
}
.carousel-caption{
    height: 72%;
}
@media screen and (max-width: 1024px) {
    .carousel-caption {
        height: 90%;
    }
}
.main-top-h {
    color: #2c465a;
    font-weight: 700;
    text-align: center;
}
.main-top-h-div {
    margin-top: 30px;
}
.top-item,
.item {
    text-align: center;
    background-color: #eeeeee;
    padding: 15px;
}
.item-a:hover{
    color: #2c465a;
    text-decoration: underline;
    opacity: 0.5;
}
.colored-p {
    color: #2c465a;
    margin: 0;
}
.tax-p{
    font-size: 20px;
    color: #2c465a;
}
.top-item-img{
    width: 32%;
    margin: 15px 0;
}
.top-item-img:hover,
.detail-img:hover,
.detail-img-sm:hover{
    opacity: 0.5;
}
.footer{
    margin-top:14px;
    background-color: #ccc;
    outline: 1px solid #fea100;
    text-align: center;
    padding-top: 20px;
}
.footer li{
    color: #2c465a;
    list-style-type: none;
}
.footer ul{
    padding: 0;
}
.footer-menu{
    padding: 0;
}
.footer-media-img{
    margin-top: 18px;
}
.copyright-div{
    text-align: center;
    font-size: 14px;
}
.copyright-div a{
    color: #2c465a;
}
.map{
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}
.product-detail-img-div{
    text-align: center;
    padding: 30px;
}
.detail-img{
    max-height: 600px;
}
.detail-img-sm{
    margin: 4px;
    width: 8%;
}
.detail-chars-h{
    color: #2c465a;
}
.detail-color-span{
    display: inline-block;
    width: 50px;
    height: 16px;
    outline: 1px solid #2c465a;
    margin: 0 12px 0 6px;
}
.detail-color-span-black{
    background-color: black;
}
.detail-color-span-red{
    background-color: red;
}
.detail-color-span-gray{
    background-color: gray;
}
.detail-acc-btn{
    color: #2c465a;
    font-size: 21px;
    font-weight: 800;
}
.detail-acc-btn:hover {
    text-decoration: none;
    color: #fea100;
}
.detail-acc-btn:focus {
    text-decoration: none;
}
.li-btn{
    list-style-type: none;
}
/*product-card-sm*/
.card-sm-div{
    background-color: #eee;
    text-align: center;
    padding: 6px 12px 12px 12px;
    border-radius: 30px;
    margin: 12px 0;
}
.card-img{
    width: auto;
    height: 200px;
    margin: 12px 0;
}
.login-div{
    margin: 10px;
    outline: 1px solid #ddd;
    padding: 30px;
}
.reg-menu{
    margin: 20px 0;
}
.li-long-user-name{
    overflow: hidden;
    text-align: center;
}
.new-menu-a {
    color: #2c465a;
    font-size: 21px;
    font-weight: 800;
    text-transform: uppercase;
}
.new-menu-a:hover{
    color: #2c465a;
}
.cart-btn-product-card{
    margin-top: 120px;
}