{% load static %}
<div class="item col-sm-3" style="text-align: center">
    <a href="{% url 'product' %}" class="top-item-a">
        <hr>
        <img class="top-item-img" src="{% static '/img/phone-sm.jpg'%}" alt="product-small">
        <p class="colored-p tax-p">0.00 руб</p>
        <p class="colored-p"> Производитель <br> Модель </p>
    </a>
    <button class="add-to-cart-btn cart-btn btn my-2 my-sm-0" type="submit">
        <img src="{% static '/img/cart-plus-ico.svg'%}" class="d-inline-block align-top" alt="to-cart">
        В корзину
    </button>
    <hr>
</div>