{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить <br> {{ category_to_delete.name }} <br> ({{ category_to_delete.alter_name }})? <br> <br>
        <form action="{% url 'admin:category_delete' category_to_delete.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Удалить">
                <a href="{% url 'admin:categories' %}" class="btn btn-success"> Отмена </a>
        </form>
    </div>
{% endblock %}