{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block main %}
    <div class="container">
        <div class="auth-div">
            <div class="row justify-content-center">
                <div class="col-sm-7 login-div">
                    <h3 class="main-top-h">Редактировать профиль</h3><br>
                    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ edit_form.as_p }}
                        {{ profile_form.as_p }}
                        <input class="form-control btn btn-outline-success" type="submit" value="Cохранить">
                    </form>
                    <div class="user_avatar">
                        <img src="{{ user.avatar|media_folder_users }}" alt="avatar">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
