{% extends 'mainapp/base.html' %}
{% load static %}


{% block main %}
    {% include 'authapp/includes/inc_login_menu.html'%}
    <div class="auth-div">
        <div class="row justify-content-center">
            <div class="col-sm-5 login-div">
                <h2 class="auth-form-h-active">Вход в систему </h2>
                <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <br>
                    <input class="form-control" type="submit" value="войти">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
