{% extends 'mainapp/base.html' %}
{% load static %}

{% block main %}
    <div class="auth-div">
        <div class="row justify-content-center">
            <div class="col-sm-7 login-div">
                <h3 class="main-top-h">Регистрация</h3><br>
                <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    <br>
                    <input class="form-control" type="submit" value="зарегистрироваться">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
