<div class="reg-menu">
    <div class="row">
        <div class="product-menu-div col-sm-12 col-lg-12">
            <ul class="product-menu-nav nav justify-content-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="new-menu-a">Мои заказы</a>
                    </li>
                    <li class="nav-item li-long-user-name">
                        <a href="{% url 'auth:edit' %}" class="menu-a mr240 {% if request.resolver_match.route == 'auth/edit/' %} menu-active {% endif %} " > Редактировать {{ user.first_name|default:'Пользователь' }} </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'auth:logout' %}" class="menu-a" > Выход </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'auth:login' %}" class="menu-a mr240{% if request.resolver_match.route == 'auth/login/' %} menu-active{% endif %}" > Вход </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'auth:register' %}" class="menu-a  {% if request.resolver_match.route == 'auth/register/' %} menu-active{% endif %}" > Регистрация </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
