{% extends 'mainapp/base.html' %}
{% load static %}

{% block main %}
    <div class="main container">
        <div class="contacts-container container">
            <div class="main-top-h-div">
                <h2 class="main-top-h">Наши контакты</h2>
                <br>
                <hr>
            </div>
            <div class="row">
                <div class="contacts-content col-md-12">
                    <p class="colored-p">
                        Город, Улица 00, строение 0Б<br>
                        Единый многоканальный телефон: +7 495 0000000<br>
                        Техническая поддержка:    +7 707 0000000<br>
                        Также все свои вопросы вы можете отправлять нам: email@email.ru
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="contacts-map col-md-12">
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1152.4163175320932!2d37.558572797125144!3d55.858878677527485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1576156550778!5m2!1sru!2sru"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
