{% extends 'mainapp/base.html' %}
{% load static %}

{% block main %}
    <div class="main container">
        <div class="main-menu container">
            <div class="row">
                {% include 'mainapp/includes/inc_сategories_menu.html' %}
            </div>
            <br>
        </div>
        <hr>
        <div class="product container">
            <div class="row">
                <div class="product-detail-img-div col-md-5">
                    <a href="{% static '/img/phone.jpg' %}" target="_blank">
                        <img class="detail-img" src="{% static '/img/phone.jpg' %}" alt="product">
                    </a>
                    <div class="detail-img-slider-div">
                        <a class="detail-slider-a" href="#"><img class="detail-img-sm" src="/static/img/phone-sm.jpg" alt="product-sm"></a>
                        <a class="detail-slider-a" href="#"><img class="detail-img-sm" src="/static/img/phone-sm.jpg" alt="product-sm"></a>
                        <a class="detail-slider-a" href="#"><img class="detail-img-sm" src="/static/img/phone-sm.jpg" alt="product-sm"></a>
                        <a class="detail-slider-a" href="#"><img class="detail-img-sm" src="/static/img/phone-sm.jpg" alt="product-sm"></a>
                    </div>
                </div>
                <div class="product-detail-chars-div col-md-7">
                    <div class="main-top-h-div">
                        <h3 class="detail-chars-h">Производитель</h3>
                        <h5 class="detail-chars-h">Модель</h5>
                    </div>
                    <br>
                    <div>
                        <ul class="chars">
                            <li>Процессор:</li>
                            <li>Графический процессор:</li>
                            <li>Оперативная память:</li>
                            <li>Размер и тип дисплея:</li>
                            <li>Камера:</li>
                            <li>Фронтальная камера:</li>
                            <li>Поддержка карт памяти:</li>
                            <li>Поддержка 2-х SIM-карт:</li>
                            <li>Тип 4G модема:</li>
                            <li>Стандарт WiFi:</li>
                            <li>Стандарт Blue tooth:</li>
                            <li>Накопитель:<br>
                                <label>
                                    <input type="radio" name="mem" value="128">&nbsp; 128 GB &nbsp;
                                    <input type="radio" name="mem" value="256">&nbsp; 256 GB &nbsp;
                                    <input type="radio" name="mem" value="512">&nbsp; 512 GB &nbsp;
                                </label>
                            </li>
                            <li>Цвет:<br>
                                <label>
                                    <input type="radio" name="colour" value="black"><span class="detail-color-span detail-color-span-black"></span>
                                    <input type="radio" name="colour" value="gray"><span class="detail-color-span detail-color-span-gray"></span>
                                    <input type="radio" name="colour" value="red"><span class="detail-color-span detail-color-span-red"></span>
                                </label>
                            </li>
                            <li class="li-btn">
                                <br>
                                <h3 class="detail-chars-h">0.00 руб</h3>
                            </li>
                            <li class="li-btn">
                                <br>
                                <button class="add-to-cart-btn cart-btn btn my-2 my-sm-0" type="submit">
                                <img src="/static/img/cart-plus-ico.svg" class="d-inline-block align-top" alt="to-cart">
                                    В корзину
                                </button>
                                <br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="detail-accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed detail-acc-btn " type="button" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        Краткое описание
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#detail-accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="detail-acc-btn btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Подробное описание
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#detail-accordion">
                                <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                    cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                    Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
