{% extends 'mainapp/base.html' %}
{% load static %}

{% block main %}
    <div class="main container">
        <div class="main-menu container">
            <div class="main-top-h-div">
                <h2 class="main-top-h">Скидки и Акции ({% now "F Y" %})</h2>
                <br>
            </div>
        </div>
        <div class="item-container container">
            <div class="row">
                {% for i in products_count %}
                    {% include 'mainapp/includes/inc_product_card_sm.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
